{% extends 'base.html.twig' %}

{% block title %}Hello HomeController!{% endblock %}
{% block stylesheets %}

	    
{% endblock %}
{% block body %}
  <h1>What you want to advertise on our portal?</h1>
  <style type="text/css">
	.bigicons{
		display: none;
	}
</style>
<div class="row py-1 ">
   <div class="col">
    <a class="px-2" href="{{ path('ads_new') }}"><i class="fas fa-car fa-2x"> Cars</a></i>
    <a class="px-2" href="{{ path('bikes_newy')}}"><i class="fas fa-motorcycle fa-2x"> Bikes</a></i>
    <a class="px-2" href="#"><i class="fas fa-truck fa-2x"> Trucks</i></a>
   </div>
  </div>
{% endblock %}

