
    <footer class="footer">
      <div class="row">
        <div class="col-xs-6 col-md">
        	<h3>Most wanted</h3>
        	<div class="row">
				<div class="col-sm-4 footerbtn">
					<a href="http://www.localhost.test/cardealer/public/index.php/cars/search?maker=Ford&model=focus">Ford Focus</a>
					<a href="http://www.localhost.test/cardealer/public/index.php/cars/search?maker=Peugeot&model=207">Peugeot 207</a>
					<a href="http://www.localhost.test/cardealer/public/index.php/cars/search?maker=Renault&model=megane">Renault megane</a>

				</div>

				<div class="col-sm-4  footerbtn">
					<a href="http://www.localhost.test/cardealer/public/index.php/cars/search?maker=Alfa+Romeo&model=159">Alfa 159</a>
					<a href="http://www.localhost.test/cardealer/public/index.php/cars/search?maker=Ford&model=fiesta">Ford Fiesta</a>
					<a href="http://www.localhost.test/cardealer/public/index.php/cars/search?maker=Opel&model=insignia">Opel Insignia</a>
				</div>

				<div class="col-sm-4 footerbtn">
					<a href="http://www.localhost.test/cardealer/public/index.php/cars/search?maker=Opel&model=astra">Opel Astra</a>
					<a href="http://www.localhost.test/cardealer/public/index.php/cars/search?maker=Peugeot&model=308">Peugeot 308</a>
					<a href="http://www.localhost.test/cardealer/public/index.php/cars/search?maker=Peugeot&model=207">Peugeot 207</a>
				</div>	
				</div>
			</div>	

        <div class="col-sm-3">
        	 <h3>Links</h3>
        	<ul>
        		<li><a href="#">About us</a></li>
        		<li><a href="#">FAQ</a></li>
        		<li><a href="#">Legal</a></li>
        		<li><a href="#">Mobile App</a></li>
            <li><a href="#">Other</a></li>
            <li><a href="#">Contact</a></li>
            <li><a href="#">Mail us</a></li>
        	</ul>
        </div>

        <div class="col-3">
        <h3>Contact</h3>
        	<ul>
	        	<li><p>contact@cardealer.com </p></li>
	        	<li>024 415-53-45</li>
	        	<li>Work time:Monday-friday, from 9am to 5pm. </li>
        	</ul>
        </div>
      </div>
      <hr style="  border-top: 1px solid white;">
      <div class="row">
      	<div class="col d-flex justify-content-center"><p class="px-1">
      		All Trademarks referred to are the property of their respective owners. 
      	</p></div>
      
   	
      </div>
       <div class="d-flex justify-content-center">CarDealer {{ "now"|date("Y") }} </div>
    </footer>