
    <footer class="footer">
      <div class="row">
        <div class="col-6">
        	<h3>Most wanted</h3>
        	<div class="row">
				<div class="col-4 footerbtn">
					<a href="http://www.localhost.test/cardealer/public/index.php/ads/search?maker=Ford&model=focus">Ford Focus</a>
					<a href="http://www.localhost.test/cardealer/public/index.php/ads/search?maker=Peugeot&model=207">Peugeot 207</a>
					<a href="http://www.localhost.test/cardealer/public/index.php/ads/search?maker=Renault&model=+megane">Renault megane</a>

				</div>



				<div class="col-4 footerbtn">
					<a href="http://www.localhost.test/cardealer/public/index.php/ads/search?maker=Alfa+Rome&model=159">Alfa 159</a>
					<a href="http://www.localhost.test/cardealer/public/index.php/ads/search?maker=Ford&model=+fiesta">Ford Fiesta</a>
					<a href="http://www.localhost.test/cardealer/public/index.php/ads/search?maker=Opel&model=+insignia">Opel Insignia</a>
				</div>

				<div class="col-4 footerbtn">
					<a href="http://www.localhost.test/cardealer/public/index.php/ads/search?maker=Opel&model=+astra">Opel Astra</a>
					<a href="http://www.localhost.test/cardealer/public/index.php/ads/search?maker=Peugeot&model=308">Peugeot 308</a>
					<a href="http://www.localhost.test/cardealer/public/index.php/ads/search?maker=Peugeot&model=207">Peugeot 207</a>
				</div>	
				</div>
			</div>	


        <div class="col-3">
        	
        	<ul>
        		<h3>Links</h3>
        		<li>About us</li>
        		<li>FAQ</li>
        		<li>Legal</li>
        		<li>Mobile app</li>
        		<li>Other</li>
        	</ul>
        </div>

        <div class="col-3">
        	
        	<ul>
        		<h3>Contact</h3>
	        	<li>contact@cardealer.com </li>
	        	<li>024 415-53-45</li>
	        	<li> Radno vreme:Ponedeljak – petak, od 8 do 16 časova. </li>
        	</ul>
        </div>
      </div>
      <div class="row">
      	<div class="col d-flex justify-content-center"><p>
      		All Trademarks referred to are the property of their respective owners. 
      	</p></div>
      	
      </div>
    </footer>