{% extends 'base.html.twig' %}

{% block title %}Edit Models{% endblock %}

{% block body %}
    <h1>Edit Models</h1>

    {{ include('models/_form.html.twig', {'button_label': 'Update'}) }}

    <a href="{{ path('models_index') }}">back to list</a>

    {{ include('models/_delete_form.html.twig') }}
{% endblock %}
