{% extends 'base.html.twig' %}

{% block title %}New Models{% endblock %}

{% block body %}
    <h1>Create new Models</h1>

    {{ include('models/_form.html.twig') }}

    <a href="{{ path('models_index') }}">back to list</a>
{% endblock %}
