{# templates/emails/registration.html.twig #}
<h3>Reset link!</h3>

Hi {{ name }}! Here you can restart you password.

{# example, assuming you have a route named "login" #}
To reset, go to: <a href="http://localhost/cardealer/public/index.php/reset/{{hash}}">Restart</a>.

Thanks!

