<!DOCTYPE html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    {% block stylesheets %}{% endblock %}

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
        <link rel="stylesheet" href="{{ asset('css/style.css') }}">
    <link rel="shortcut icon" href="{{ asset('css//favicon.ico')}}">
    <title>{% block title %}Welcome!{% endblock %}</title>
    <link href="https://fonts.googleapis.com/css?family=Source+Sans+Pro&display=swap" rel="stylesheet"> 
  </head>
  <body>
    <div id="fb-root"></div>
<script async defer crossorigin="anonymous" src="https://connect.facebook.net/en_US/sdk.js#xfbml=1&version=v6.0"></script>

  	<div class="container">
      <div class="commercial">
            <div class="levo"></div>
            <div class="desno"></div>
      </div>


  		{% include './assets/navbar.html.twig' %}
        {% block body %}{% endblock %}
      {% include './assets/footer.html.twig' %}
</div>
        {% block javascripts %}{% endblock %}
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://kit.fontawesome.com/76e4368f06.js" crossorigin="anonymous"></script>
    <script src="https://code.jquery.com/jquery-3.4.1.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>
    <script src="https://unpkg.com/axios/dist/axios.min.js"></script>    
  <script>
function getModels(val) {
  $.ajax({
  type: "GET",
  url: "/cardealer/public/index.php/models/api/" +val,
  data:'model='+val,
  success: function(data){
    $("#model").html(data);

  }
  });
}
</script>
  <script>
  $(document).ready(
function () {
  $.ajax({
  type: "GET",
  url: "/cardealer/public/index.php/api/messages/",
  success: function(data){
    console.log('test');
    $("#messages").html(data);

  }
  });
}
);

</script>
<script type="text/javascript">
$(function(){
$('#ads_maker').change(function(){

  var val =document.getElementById("ads_maker").value;  
    console.log(val);
  $.ajax({
  type: "GET",
  url: "/cardealer/public/index.php/models/api/" +val,
  data:'model='+val,
  success: function(data){
    $("#ads_model").html(data);

  }
  });
})
});
</script>

  </body>
</html>